
<div class="text-center login" >
        <div class="inner">
            CCEE
            <div class="landing-panel">
                
                <p>Login </p>
                <form>
                    <input type="text" ng-model="user.name" maxlenght="40" placeholder="Username"><br/>
                    <input type="password" ng-model="user.password" placeholder="Password"><br/>
                    <button ng-click="loginUser(user)" class="button">Submit</button>
                </form>
            </div>
        </div>
    </div>
  
</div>
